<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %> 
	  <h2><%= pluralize(@user.errors.count, "error") %>The following errors prevented the article from being saved</h2> 	
      <ul> 
      <% @user.errors.full_messages do |msg| %> 
	      <li><%= msg %></li> 
	    <% end %> 
      </ul>
  <% end %>
    <%= form.label :name %>
    <%= form.text_field :name %><p>

    <%= form.label :email_id %>
    <%= form.text_field :email_id %><p>

    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %><p>

    <%= form.label :password %>
    <%= form.text_field :password_digest %><p>

    <%= form.submit 'Sign Up' %>
<% end %>